body, html, .web-view {
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.web-view {
    display: flex;
    position: absolute;
    justify-content: center;
}

#particles-js {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}


.home {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    padding: 0;
}
.nav li {
    list-style-type: none;
    cursor: pointer;
    margin: 5px;
}

.title-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-page h1 {
    font-size: 54px;
    margin: 0;
    text-align: center;
}

.title-page p {
    margin: 0;
}

.wrapper{
    height: 100%;
    width: 700px;
    transform: translate(0, 100%);
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: all .5s;
}
.wrapper.bringToView {
    transform: translate(0, 0);
    background-color: white;
    overflow: auto;
}
.wrapper h1 {
    text-align: center;
}
/* -- About Page -- */
.about {
    display: none;
}
.projects {
    display: none;
}
.contact {
    display: none;
}









.active {
    display: inline;
}
